# Code owners for DSM. See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

src/dsm_kernel/   @daryl-labs-ai
docs/             @daryl-labs-ai
src/dsm_modules/  @daryl-labs-ai
